html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

h3 {
  margin: 60px 0px 40px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#content {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

#bikeList p {
  font-size: 16px;
  line-height: 20px;
}

ul {
  padding: 0px;
  margin: 0px;
}

button a,
button {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

button {
  background-color: #3C1491;
  padding: 9px 15px;
  outline: 1px solid #3C1491;
  border: none;
}

#bikeList button,
#loadMore button {
  width: 170px;
}

img {
  width: 250px;
}

div.item-border {
  height: 250px;
  width: 250px;
  border: 1px solid #CECECE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#bikeList ul {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#bikeList li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 80px;
}

#addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#addresses p {
  font-size: 22px;
  line-height: 30px;
  margin: 0px;
}

#addresses a {
  color: black;
}

#addresses li {
  line-height: 28px;
  font-size: 18px;
  padding-top: 15px;
} 

#addresses li.active {
  position: relative;
}

#addresses li.active::before {
  content: "";
  background-color: #3C1491;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: -15px;
  bottom: 10px;
}

#loadMore {
  margin: 40px 0px;
  text-align: center;
}

#all_addresses {
  position: relative;
}

#all_addresses::before {
  content: "";
  background-color: #3C1491;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: -15px;
  bottom: 10px;
}

#addresses li.active ~ #all_addresses::before {
  content: none;
}

#index-back-img {
  background-image: url("/images/index-main-background.png");
  width: 100%;
  height: calc(100vh - 61px - 68px);
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 68px;
}

#index-darklay {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 68px;
  background-color: rgba(22, 0, 69, 0.42);
  width: 100%;
  height: calc(100% - 61px - 68px);
}

#index-contentbox {
  margin: 100px 170px;
  color: white;
  max-width: 765px;
}

#index-contentbox h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}

#index-contentbox p {
  font-size: 18px;
  line-height: 30px;
}

#index-contentbox a {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 15px;
}

#index-contentbox button {
  margin-right: 27px;
}

#map {
  width: 1170px;
  height: calc(600px - 61px - 68px - 20px);
}

#form_page {
  display: flex;
  flex-direction: column;
  width: 370px;
  margin: auto;
  margin-bottom: 15px;
}
#form_page h3 {
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}

input {
  border: 1px solid #CECECE;
  height: 42px;
  margin-bottom: 20px;
}

#reg_page_buttons button {
  width: 210px;
  margin-right: 15px;
}

#reg_page_buttons a,
#login_page_buttons a {
  color: #0000FF;
}

#login_page_buttons button {
  width: 101px;
  margin-right: 15px;

}

#form_page p {
  color: red;
}

#form_page .input-check {
  position: relative;
  margin: 0px;
  padding: 0px; 
  display: flex;
  flex-direction: column;
}

#form_page p.card-error {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 15px 21px 15px 20px;
  width: 230px;
  position: absolute;
  z-index: 2;
  left: 380px;
  margin: 0px;
}

#form_page p.card-error::before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  left: -7px;
  clip: rect(3px, 13px, auto, auto);
}

#form_page p.hide {
  display: none;
}

.header_loginName {
  font-size: 24px;
  line-height: 34px;
  color: #b0b0b0;
  margin-left: 30px;
}

.lk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lk h2 {
  font-size: 24px;
  line-height: 30px;
}

.lk_bike_info {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}

.lk_bike_info button {
  width: 107px;
  height: 38px;
}

.lk_orderbox {
  height: 230px;
  width: 370px;
  border: 1px solid #CECECE;
}

.lk_orderbox h2 {
  border-bottom: 1px solid #CECECE;
  padding: 20px 0px 15px 30px;
  margin: 0px;
}

.lk_orderbox p {
  padding: 20px 0px 5px 30px;
  margin: 0px;
}

.lk_orderbox button {
  margin: 20px 0px 30px 30px;
}

.lk_bike {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.order-page .code {
  font-size: 48px;
  line-height: 60px;
  margin: 0px;
}

.lk_all_bikes {
  display: flex;
  flex-direction: column;
}