{{> header}}
<div id="form_page">
  <h3>Реквизиты карты</h3>
  <form method="post">
    <label for="card-number">Номер карты</label>
    <div class="input-check">
      <input type="text" id="card-number" name="card-number" value="{{cardRequisites.number}}">
      <p class="card-error hide" id="cardNumberP"> </p>
    </div>

    <label for="date">Срок действия</label>
    <div class="input-check">
      <input type="text" id="card-date" name="date" value="{{cardRequisites.date}}">
      <p class="card-error hide" id="cardDateP"></p>
    </div>

    <label for="cvv">CVV</label>
    <span class="input-check">
      <input type="password" id="card-cvv" name="cvv" value="{{cardRequisites.cvv}}">
      <p class="card-error hide" id="cardCvvP"> </p>
    </span>

    <div id="card-page">
      <button type="submit" id="reg-submit">Сохранить</button>
    </div>
  </form>
</div>

<script src="/js/card-requisites.js"></script>
{{> footer}}