{{> header}}
<div>
  {{#pointInfo}}
  <h3 id="currentAddress">Каталог велосипедов по адресу {{pointInfo.address}}</h3>
  {{/pointInfo}}
  {{^pointInfo}}
  <h3>Каталог велосипедов</h3>
  {{/pointInfo}}

  <div id="content">
    <div id="bikeList">
      <ul>
      </ul>
    </div>
    <div id="addresses">
      <p>Пункты выдачи</p>
      <ul>
        {{#pointersList}}
        {{#isActive}}
        <li class="active"><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}}
        {{^isActive}}
        <li><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/isActive}}
        {{/pointersList}}
        <li id="all_addresses"><a href="/catalog">Все пункты</a></li>
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button type="button">Загрузить ещё</button>
  </div>

</div>
<script src="/js/api.js"></script>
<script src="/js/catalog.js"></script>

{{> footer}}