{{> header}}
<div id="index-darklay">
  <div id="index-contentbox">
    <h1>Сервис аренды велосипедов</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam
      voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem
      nostrum laboriosam hic quas voluptas, ut!
    </p>
    <button type="button"><a href="/catalog">Арендовать велосипед</a></button>
    <button type="button"><a href="/map">Найти пункт выдачи</a></button>
  </div>
</div>
<div id="index-back-img"></div>
{{> footer}}