{{> header}}

<h3>Личный кабинет <span class="header_loginName">{{ login }}</span></h3>

<div class="lk">
  {{#orderList.length}}
  <div class="lk_all_bikes">
    {{#orderList}}
    <div class="lk_bike">
      <div class="item-border"><img src="/images/{{bike.img}}"></div>
      <div class="lk_bike_info">
        <h2>{{bike.name}}</h2>
        <p>Прошло времени — {{formatTotalTime}}</p>
        <p>Стоимость — {{totalCost}}₽</p>
        <button data-order-id={{_id}}>Вернуть</button>
      </div>
    </div>
    {{/orderList}}
  </div>
  {{/orderList.length}}

  {{^orderList.length}}
  <div>
    Нет арендованных велосипедов
  </div>
  {{/orderList.length}}

  <div class="lk_orderbox">
    <h2>Реквизиты карты</h2>
    {{#cardRequisites}}
    <p><strong>{{cardRequisites.number}}</strong></p>
    <p>{{cardRequisites.date}}</p>
    {{/cardRequisites}}

    {{^cardRequisites}}
    <p>Нет данных</p>
    {{/cardRequisites}}
    <button><a href="/card-requisites">Изменить</a></button>
  </div>

</div>

<script src="/js/lk.js"></script>
{{> footer}}