{{> header}}
<div id="form_page">
	<h3>Вход</h3>
	<form method="post">
		<label for="login">Логин</label>
		<input type="text" id="login" name="login" value="{{ login }}">

		<label for="password">Пароль</label>
		<input type="password" id="password" name="password">

		{{#isLoginError}}
		<p>
			Неверные логин или пароль
		</p>
		{{/isLoginError}}
		<div id="login_page_buttons">
			<button type="submit">Войти</button>
			<a href="/registration">или зарегистрироваться</a>
		</div>
	</form>
</div>
{{> footer}}