{{> header}}
<div>
  <h3> Пункты выдачи</h3>
  <div id="map"></div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=3056aa00-d745-46bd-9184-8610a873fb4f&lang=ru_RU"
  type="text/javascript"></script>
<script src="/js/api.js"></script>
<script src="/js/map.js"></script>
{{> footer}}