{{> header}}

<h3>Аренда велосипеда</h3>
<div class="order-page">
  <div class="lk_bike">
    <div class="item-border"><img src="/images/{{bikeInfo.img}}"></div>
    <div class="lk_bike_info">
      <h2>{{bikeInfo.name}}</h2>
      <p>Чтобы забрать велосипед, введите код</p>
      <p class="code">{{orderCode}}</p>

    </div>
  </div>
</div>
{{> footer}}